#root {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.userList {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
    gap: 24px;

    input {
      position: relative;
      flex: 1;
      outline: none;
      border: 1px solid #222;
      border-radius: 999px;
      padding: 16px 24px;
      background: #333;
      color: white;
      font-size: 16px;
      font-weight: 600;
      transition: all 0.2s ease-out;

      &:focus-within {
        background: #151515;
      }
    }
  }
  
  section {
    flex: 1;
  }

  button {
    border: 1px solid #222;
    outline: none;
    background: #333;
    border-radius: 9999px;
    padding: 18px 24px;
    color: white;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      background: #151515;
    }
    &:active {
      background: #111;
    }
  }
}
